extends layout

block content
  h1= title
  img.rounded.aboutImg(src='http://pa1.narvii.com/5806/741a006c3766e24bc6687dfd2c3434b14ae7c1ca_00.gif' alt='PokeDex Image')
  p Details: This is a PokeDex from a very popular animated cartoon called "Pokemon". It shows a number of pokemons with their name, type and image.
  

